.footer {
  padding: 40px 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
